
.blog-page-container {
    max-width: 600px;
}

.blog-intro-paragraph {
    margin: 50px 50px 0px 50px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

b {
    color: rgb(47, 98, 132);
}

.blog-container {
    display: flex; 
    flex-wrap: wrap;
    gap: 20px;
    margin: 60px 30px 60px 30px;
  }

.blog-entry {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1 1 calc(50% - 20px); /* Each entry takes up 50% of the width, minus the gap */
    box-sizing: border-box; /* Ensures padding and borders don't affect the width */
    padding: 20px; /* Adds some padding inside each entry */
    background-color: rgb(194, 204, 209); /* Background color for styling */
    border: 1px solid rgb(208, 183, 149); /* Border for visual distinction */
    border-radius: 30px;
  }

.blog-entry-title {
    margin-bottom: 30px;
    text-align: center;
}

.blog-entry-image {
  margin-bottom: 20px;
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
    .blog-entry {
      flex: 1 1 100%; /* Make each entry take up the full width on smaller screens */
    }
  }

.entry-overview {
    text-align: center;
    padding: 0px 50px;
}

.iframe-container {
  width: 100%;
}

.read-more-button {
  background-color: rgb(208, 183, 149);
  padding: 10px 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  border: 1px solid rgb(6, 27, 50);
  border-radius: 15px;
  margin: 4px 2px;
  cursor: pointer;
}