
.picture-container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    img{
        margin-left: 7px;
        margin-right: 7px;
    }
}

 .intro-paragraph {
    margin: 50px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

abbr {
    color: rgb(255, 165, 0);
}

.second-paragraph {
    display: flex;
    flex-direction: column;
    background-color: rgb(208, 183, 149);
    padding: 30px 40px;
    border: 2px solid rgba(255, 111, 0, 0.946);
    border-radius: 30px;
   
}

ol {
    line-height: 1.8;
}